<div class="row">
  <form class="col s12">
    <%= form_tag("/search", method: "get", remote: true) do %>
      <div class="row">
        <div class="input-field col s6 offset-s2">
          <%= label_tag(:address, "Property Listing Address") %>
          <%= text_field_tag(:address) %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3 offset-s2">
          <%= label_tag(:city, "City") %>
          <%= text_field_tag(:city) %>
        </div>
        <div class="input-field col s1">
          <%= label_tag(:state, "State") %>
          <%= text_field_tag(:state) %>
        </div>
        <div class="input-field col s1">
          <%= label_tag(:zip, "Zipcode") %>
          <%= text_field_tag(:zip) %>
        </div>
      </div>
      <div class="row">
      <div class="col s2 offset-s4">
      <%= submit_tag "Search", id: "search_button", class: "btn blue-grey" %>
      </div>
      </div>
    <% end %>
    </form>
</div>

<div class="row">
   <div class="col s9"><%= image_tag "openst_sample.png" %></div>
   <div class="col s3"></div>
</div>
