<!DOCTYPE html>
<html>
<head>
  <title>Bizzspot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />
  <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js' %>
  <%= csrf_meta_tags %>
</head>

  <!-- Dropdown Structure -->
  <ul id="signed-in" class="dropdown-content">
    <li><%= link_to "Signout", signout_path, method: "delete", id: "sign_out", class: "black-text" %>
    </li>
  </ul>

<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper">
      <%= link_to image_tag("bizzspotlogo.png"), root_url, id: "logo-container", class: "brand-logo black-text" %>
      <ul class="right hide-on-med-and-down black-text">
        <li>
          <% if current_user %>
            <a class="dropdown-button black-text" data-activates="signed-in">Signed in as <strong><%= current_user.name %></strong>!<i class="mdi-navigation-arrow-drop-down right"></i></a>
          <% else %>
            <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "black-text" %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>

<body>
<%= yield %>

</body>

</html>
